<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<div class="brand-link bg-warning">
		<ion-icon name="logo-pinterest" size="large" style="display: inline-block; vertical-align: middle"></ion-icon>
		<span class="brand-text text"
			style="font-family: 'Audiowide'; font-size: 20px; vertical-align: middle">PRODEMY</span>
	</div>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img th:src="@{/assets/img/user.png}" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<span class="text-light text"
					style="font-family: 'Text Me One'; font-size: 20px; vertical-align: middle">Arisya Maulina
					Bowo</span>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
				<li class="nav-item has-treeview menu-open"><a class="nav-link" href="#">
						<i class="fas fa-th nav-icon"></i>
						<p>MENU
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item"><a href="/home/biodata" class="nav-link">
								<i class="far fa-circle text-warning nav-icon"></i>
								<p>Form Biodata</p>
							</a></li>
						<li class="nav-item"><a href="/home/data" class="nav-link">
								<i class="far fa-circle text-danger nav-icon"></i>
								<p>
									Tabel Biodata
								</p>
							</a></li>
						<li class="nav-item"><a href="/home/pendidikan" class="nav-link">
								<i class="far fa-circle text-primary nav-icon"></i>
								<p>
									Form Pendidikan
								</p>
							</a></l>
						<li class="nav-item"><a href="/home/index6" class="nav-link">
								<i class="far fa-circle text-orange nav-icon"></i>
								<p>
									Person Model
								</p>
							</a></l>
						<li class="nav-item"><a href="/home/index7" class="nav-link">
								<i class="far fa-circle text-olive nav-icon"></i>
								<p>
									Pendidikan Model
								</p>
							</a></l>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>